# development o production
NODE_ENV=

DATABASE_URL="postgresql://userone:passone@127.0.0.1:5432/db_one_cotizador"

# Origenes que pueden mandar postMessage ej: http://localhost:5173,https://miapp.com
NEXT_PUBLIC_ALLOWED_ORIGINS=

JWT_SECRET=